/*
 * Defintions
 */

@footer-height: 100px;


/*
 * Footer
 */

// Footer
.footer {
	padding: 30px 0px;
	height: @footer-height;
	text-align: center;
	background: @light;

	p,
	a {
		.font-size(@font-size-small);
	}

	p {
		margin: 0px 0px 10px 0px;
	}

	a {
		.medium-font();
		color: @dark;

		&:hover,
		&:focus {
			color: @primary;
		}
	}
}