/*
 * Defintions
 */

@header-height: 50px;


/*
 * Header
 */

// Header
.header {
	z-index: @z-index-high;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: @header-height;
	background: @primary;
}