/*
 * Header
 */

// Header
.header {
	padding: 5px 0px;
	height: 50px;
	background: @primary;
}

// Header Controls
.header-controls {
	float: right;

	.header-button {
		padding: 8px;
	}
}

// Header Button
.header-button {
	padding: 8px 0;
	color: darken(@primary, 10%);
	background: transparent;
	border: none;

	.icon {
		fill: darken(@primary, 10%);
		vertical-align: middle;
	}

	&:not(:disabled):hover,
	&:not(:disabled):focus {
		color: @white;
		background: transparent;
		border: none;

		.icon {
			fill: @white;
		}
	}
}