/*
 * Page Header
 */

// Page Header
.page-header {
	background: @primary;
}

.page-header-content {
	padding: 100px 0px;
}

// Header Titles
.page-header-title,
.page-header-subtitle  {
	margin: 0;
	color: @white;
}

.page-header-title {
	
}

.page-header-subtitle {
	
}