/*
 * Page Header
 */

// Page Header
.page-header {
	background: @primary;

	.rating-form {
		margin-top: 30px;

		span {

			.icon {
				fill: darken(@primary, 15%);
			}

			&:hover,
			&:focus,
			&.checked {

				label,
				~ span label {
					
					.icon {
						fill: @white;
					}
				}
			}
		}
	}
}

.page-header-content {
	padding: 100px 0px;
	
	h1,
	h2,
	h3,
	p {
		margin: 0;
		color: @white;
	}

	p {
		.medium-font();
	}

	.rating {
		margin-top: 30px;
	}
}

// Header Titles
.page-header-title,
.page-header-subtitle  {
	
}

.page-header-title {
	
}

.page-header-subtitle {
	
}

// Page Header Icon
.page-header-icon {
	margin-bottom: 15px;
	.square(44px);
	vertical-align: middle;
}