/*
 * Page Header
 */

// Page Header
.page-header {
	height: 50vh;
	background: @dark;

	.container {
		height: 100%;
	}
}

.page-header-content {
	position: absolute;
	bottom: @gutter;
	left: (@gutter / 2);
	
	h1,
	h2,
	h3,
	p {
		color: @white;
	}

	h1 {
		margin: 0px 0px 10px 0px;
	}

	h2 {
		margin: 0;
	}

	h3 {
		margin: 0;
	}

	.rating {
		margin-top: 30px;
	}
}

// Header Titles
.page-header-title,
.page-header-subtitle  {
	
}

.page-header-title {
	
}

.page-header-subtitle {
	
}

// Page Header Icon
.page-header-icon {
	margin-bottom: 15px;
	.square(44px);
	vertical-align: middle;
}