/*
 * Rating
 */

// Rating
.rating-form {
	margin-top: 5px;

	input {
		position: absolute;
		top: 0px;
		left: 0px;
		opacity: 0;
	}

	label {
		margin: 0;
		display: inline-block;
		text-align: center;
		cursor: pointer;
	}

	.icon {
		.square(16px);
		fill: @light-grey;
		vertical-align: middle;
	}

	span {
		position: relative;
		unicode-bidi: bidi-override;
		direction: rtl;

		&:hover,
		&:focus,
		&.checked {

			label,
			~ span label {
				
				.icon {
					fill: @grey;
				}
			}
		}
	}
}